language: ruby
rvm:
  - 2.1.10
  - 2.2.5
  - 2.3.1
  - ruby-head

before_install: gem install bundler -v 1.10.3

gemfile:
  - gemfiles/rails_5_0_0_beta4.gemfile
  - gemfiles/rails_4_2.gemfile
  - gemfiles/rails_4_1.gemfile

matrix:
  fast_finish: true
  allow_failures:
    - rvm: ruby-head
  exclude:
    - rvm: 2.1.10
      gemfile: gemfiles/rails_5_0_0_beta4.gemfile