<div style="display:table-cell;vertical-align:middle;">
  <div style="margin-left:auto;margin-right:auto; text-align:center">
    <div id="progressive-load-placeholder">
      <%= image_tag "load.gif" %>
    </div>
  </div>
</div>