<div style="display:table-cell;vertical-align:middle;">
  <div style="margin-left:auto;margin-right:auto; text-align:center">
    <div id="progressive-render-placeholder">
      <%= image_tag "progressive_render.gif" %>
    </div>
  </div>
</div>