<h1>Welcome!</h1>

This is the ProgressiveRender sample application. Use for integration testing as a reference for clients.<br>
<br>
<h2>Examples</h2>
<ul>
	<li><%=link_to "Single Block", load_test_block_path %>: Render content within a block via ProgressiveRender</li>
	<li><%=link_to "Multiple Blocks", load_test_multiple_blocks_path %>: Render content across multiple blocks</li>
	<li><%=link_to "Custom Placeholder", load_test_custom_placeholder_path %>: Use a custom placeholder</li>
</ul>