<h1>Welcome!</h1>

This is the ProgressiveLoad sample application. Use for integration testing as a reference for clients.<br>
<br>
<h2>Examples</h2>
<ul>
	<li><%=link_to "Partial", loat_test_partial_path %>: Render a single partial via ProgressiveLoad</li>
	<li><%=link_to "Block", load_test_block_path %>: Render content within a block via ProgressiveLoad</li>
</ul>